/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    color: #5D5D5D;
    font-size: 14px;
    line-height: 1.5;
}

body {
    background-color: #F5F7F8;
}

h1 {
    margin: 0;
}

a {
    color: #8AF;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

#header {
    background-color: #FFF;
    box-shadow: 0 0 3px #CCC;
    margin-bottom: 15px;
    padding: 10px 15px;
}

nav {
    float: left;
    width: 15%;
}

nav p {
    padding: 0 15px;
}

main {
    float: left;
    width: 85%;
}

article {
    background-color: #FFF;
    box-shadow: 0 0 3px #CCC;
    margin: 0 15px 15px;
    padding: 15px;
}

article h2 {
    margin: 0 0 10px;
}

div.content p {
    text-align: justify;
}

span.tag a {
    color: #8C8;
}

article article {
    box-shadow: none;
    margin: 0 0 15px 30px;
    padding: 0;
}

article time {
    color: #888;
}

article textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    padding: 5px;
}

#footer {
    clear: both;
    background-color: #456;
    padding: 15px;
    color: #FFF;
    text-align: center;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}